#about-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  margin: 3% 0;
  align-items: center;
  letter-spacing: 1px;
}

#about-div>p {
  width: 50%;
  line-height: 18px;
}

#about-div>ul {
  width: 50%;
  margin: 3% 0 0 0;
}

#about-div>ul>li:first-child {
  font-size: 42px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  color: black;
  text-decoration-color: #449e92;
  margin-bottom: 5%;
}

#about-div>ul>li:not(:first-child) {
  margin: 2% 0 0 2%;
  list-style-type: disc;
  font-size: 21px;
  line-height: 28px;
}