.add-to-cart-form {
   padding: 0 0 2% 0;
   margin-left: auto;
   display: flex;
   align-items: center;
   width: 30%;
   max-width: 270px;
}

.add-to-cart-form a {
   cursor: pointer;
}

.add-to-cart-form label {
   font-weight: 600;
   display: block;
}


.quantity-product {
   transition: border 0.3s ease-in;
   border: 1.5px solid #e7dfd2;
}

.quantity-product:hover {
   border: 1px solid #449e92;
}



// the anchor tags use pseudo selector content to prevent highlighting.
.quantity-add::before {
   content: "+";
   font-size: 24px;
   font-weight: 500;
   padding-left: 6px;
   padding-right: 6px;
   line-height: 20px;
}

.minus::before {
   content: "-";
   font-size: 34px;
   font-weight: 400
}

.add-cart-button {
   width: 65%;
   max-width: 170px;
   text-align: center;
   letter-spacing: 2px;
   transition: all .3s ease;
   //color: #2a4e49;
   color: #ffffff;

   background-color: #000;
   //background-color: #75bcb1be;
   border: 1px solid #2a4e49;
   font-size: 15px;
   border-radius: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 550;
   max-height: 40px;
   padding: 3%;
   margin-left: auto;
}

.add-cart-button:hover {
   //background-color: #000;

   background-color: #75bcb1be;
   //color: #ffffff;

   color: #2a4e38;
   cursor: pointer;

}

.add-to-cart-form input {
   width: 30%;
   max-width: 30px;
   text-align: center;
   height: 25px;
   //background-color: #449e9271;
   color: #383a34;
   border: 1px solid #d1cabf;
   //color: black;
}

.add-to-cart-form a {
   cursor: pointer;
}

.add-to-cart-form a:hover {
   cursor: pointer;
   color: #449e92;
}