.cart-icon img{
   background: none;
}

.cart-icon img {
   width: 30px;
   -webkit-transform: scale(1);
   transform: scale(1);
   -webkit-transition: .2s ease-in-out;
   transition: .2s ease-in-out;
}

.cart-icon img:hover{
   color: #449e92;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
   //background: #449e92;
}

.cart {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin: auto;
   align-items: center;
}
.cart-shop-now-link {
   margin: 3% auto;
   text-align: center;
   width: 100%;
}

.empty-cart-message {
   padding-top: 10px;
   font-size: 20px;
   font-weight: 500;
   letter-spacing: 1px;
}
.cart-shop-now-btn {
   background-color: #449e92;
   color: #fff;
   border: none;
   border-radius: 30px;
   padding: 1.5%;
   width: 17%;
   max-width: 200px;
   font-size: 15px;
   font-weight: 550;
   text-shadow: none;
   text-decoration: none;
   box-shadow: none;
   align-items: center;
   justify-content: center;
   letter-spacing: 3px;
   cursor: pointer;
}

.cart-shop-now-btn:hover {
   //border: 1px solid;
   box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
   outline-color: rgba(255, 255, 255, 0);
   outline-offset: 15px;
   text-shadow: 1px 1px 2px #427388;
}

.cart-count {
   animation: update 1.5s;
   padding-right: 10px;
}

@keyframes update {
   0% {
      color: #e65400;
      text-shadow:
         0 0 5px #fff,
         0 0 10px rgb(255, 183, 75),
         0 0 20px rgb(255, 183, 75),
         0 0 60px rgb(238, 160, 43),
         0 0 200px rgb(238, 160, 43)
   }

   30% {
      color: #e65400;
      text-shadow:
         0 0 5px #fff,
         0 0 10px rgb(255, 183, 75),
         0 0 20px rgb(255, 183, 75),
         0 0 100px rgb(238, 160, 43),
         0 0 200px rgb(238, 160, 43)
   }

   100% {
      color: black;
      text-shadow: none;
   }

}

.relative {
   // position: relative;
   z-index: 100;
}

.cart-index-modal {
   position: fixed;
   z-index: 5;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   display: flex;
   justify-content: end;
   visibility: hidden;
   color: #3f5920;

}

.modal-visible {
   visibility: visible;
}

.cart-index {
   overflow: hidden;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   background-color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 40%;
   transform: translateX(100%);
   transition: transform 0.25s ease-out;
   z-index: 6;
   border-radius: 5px;
   border-left: 1px solid #e7dfd2;
   // background: #faf9f6;
}

.cart-item-list-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: auto;
   max-height: 100%;
   width: 100%;
   overflow-y: auto;
}

.cart-visible {
   transform: translateX(0%);
}

.blurred-modal-area {
   width: 100%;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(41, 41, 41, 0);
   transition: background-color .25s ease-in-out;
   z-index: 5;
   visibility: hidden;
}

.blur-visible {
   visibility: visible;
   background-color: rgba(41, 41, 41, .83);
   z-index: 1;
}

//for closing the modal
.non-cart-area {
   width: 100%;
}

.close-cart-modal-button {
   position: absolute;
   top: 18px;
   left: 18px;
   font-size: 30px;
}

.cart-title-container {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 12px 8px 8px 8px;
   border-bottom: 2px solid rgb(222, 105, 50);
   width: 85%;
   text-align: center;
}

.checkout-container {
   border-top: 1px solid rgb(126, 126, 126);
   padding: 8px 8px 8px 8px;
   margin-top: -1px;
   z-index: 10;
   width: 85%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 22px;
}

.bottom-line {
   width: 100%;
   display: flex;
   justify-content: space-between;
   font-size: 20px;
   margin-bottom: 6px;
}

.not-bold {
   font-weight: 500;
}

#checkout {
   width: 80%;
   margin-left: 0;
   margin-bottom: 8px;
   border: 2px solid rgb(222, 105, 50);
   border-radius: 2px;
   font-weight: 800;
}

#checkout:hover {
   color: rgb(222, 105, 50);
   background-color: #fff;
}

.cart-shop-now {
   text-shadow: 1px solid rgba(255, 255, 255, 0.516);
   margin-top: 10px;
   line-height: 48px;
   text-align: center;
   font-size: 15px;
   text-transform: uppercase;
   font-weight: 700;
   width: 200px;
   background-color: rgb(222, 105, 50);
   border: 2px solid rgb(222, 105, 50);
   border-radius: 2px;
   color: #fff;
   transition-property: background-color, color;
   transition-duration: .2s;
   transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.cart-shop-now:hover {
   color: rgb(222, 105, 50);
   background-color: #fff;
}