.cart-item {
   width: 85%;
   display: flex;
   border-bottom: 1px solid #e7dfd2;
   color: #383a34;
   align-items: center;
   justify-content: space-between;
   letter-spacing: 1px;
}

.cart-item-photo-container {
   width: 20%;
   height: auto;
   position: relative;
   display: flex;
   align-items: center;
}

.product-cart-img {
   max-width: 130px;
   width: 90%;
}

.cart-item-description-container {
   width: 100%;
   height: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
}

.cart-item-title:hover {
   color: #383a34;
}

.description-inner-content {
   padding-top: 10px;
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.fa-circle {
   position: absolute;
   left: -25px;
   font-size: 20px;
   z-index: 10;
   color: gray;
}

.circle {
   top: 15%;
   right: 15%;
   line-height: 10%;
   font-size: .9vw;
   letter-spacing: .04em;
   text-decoration: underline;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 600;
   color: gray;
   position: absolute;
}

.remove-product {
   // position: absolute;
   margin-left: 40px;
   font-size: 16px;

}

.cart-item-price {
   font-weight: 550;
   letter-spacing: 2px;
}

.cart-item-delete{
   width: 10%;
   font-size: 22px;
   cursor: pointer;
}

.cart-item-delete:hover {
   color: #d65555;
}

.cart-item-name{
   width: 20%;
}

.cart-item-brand {
   width: 20%;
}

.cart-item-quantity {
   width: 20%;
   display: flex;
   align-items: center;
}

.cart-item-quantity input {
   width: 30%;
   max-width: 30px;
   text-align: center;
   height: 25px;
   background-color: #eee9dd;
   color: #383a34;
   border: 1px solid #d1cabf;
   //color: black;
}

.cart-item-quantity a {
   cursor: pointer;
}

.cart-item-quantity a:hover {
   cursor: pointer;
   color: #449e92;
}