#listings-index-div {
  display: flex;
  flex-direction: column;
}

#listings-links {
  display: flex;
  flex-direction: row;
}

#listings-links>a {
  display: flex;
  color: black;
  padding: 10px;
  letter-spacing: 1px;
  padding-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
}

.listings-selected {
  border-bottom: 4px solid green;
}

#listings-selling {
  width: 100%;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  font-size: 12px;
}

#listings-buy-header {
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
  margin-bottom: -1px;
  margin-left: 2%;
  border-bottom: 4px solid green;
  width: 100px;
  display: none;
}

#listings-buy-table-heading {
  font-family: impact;
  text-transform: uppercase;
  border-top: 1px solid #c3c3c3;
  cursor: default;
}

#listings-buy-table-heading>tr {
  height: 5vh;
  color: #333;
}

.listing-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #c3c3c3;
}

.listing-col0 {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 5px;
  box-sizing: border-box;

}

.listing-col0>a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listing-col1 {
  width: 20%;
  display: flex;

}

.listing-col2 {
  width: 15%;
  display: flex;
  justify-content: center;
}

.listing-item-pic {
  margin-right: 2%;
}

.listing-item-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listing-item-details {
  display: flex;
  flex-direction: column;
}

.listing-col3 {
  width: 15%;
  display: flex;
  justify-content: center;
}

.listing-col4 {
  width: 15%;
  display: flex;
  justify-content: center;
}

#listings-sell-header {
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
  margin-bottom: -1px;
  margin-left: 2%;
  border-bottom: 4px solid green;
  width: 100px;
  display: none;
}

#listings-sell-table-heading {
  font-family: impact;
  text-transform: uppercase;
  border-top: 1px solid #c3c3c3;
  cursor: default;
}

#listings-sell-table-heading>tr {
  height: 5vh;
  color: #333;
}

.new-listing {
  display: flex;
  border: 1px solid black;
  border-radius: 25px;
  width: 100px;
  height: 30px;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 0 0 1% 0;
  box-sizing: border-box;
}

.new-listing:hover {
  color: white;
  background-color: #449e92;
}

#listings-form-div {
  display: flex;
  flex-direction: column;
  //margin-left: 10px;
  width: 100%;
}

#listings-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 1px solid #c3c3c3;
  padding: 15px;
  letter-spacing: 1px;
}

#listings-form>h2 {
  font-weight: bold;
}

#listings-form>span {
  border-bottom: 1px solid #449e92;
}

#listings-form>label>select {
  font-size: 16px;
  letter-spacing: 1px;
  width: 208px;
}

#listings-form>label {
  margin-top: 10px;
}

#listings-form>label>* {
  float: right;
  width: 50%;
  height: 25px;
}

#listings-form-type-dropdown {
  width: 100%;
}

#listings-form-product-dropdown {
  width: 100%;
}

#listings-form-size-sex-dropdown {
  width: 50%;
}

#listings-form-size-num-dropdown {
  width: 50%;
}

#listings-form-price {
  width: 98%;
  font-size: 16px;
  letter-spacing: 1px;

}

#listings-form-submit {
  font-size: 15px;
  margin: auto;
  text-align: center;
  cursor: pointer;
  display: flex;
  size: 200%;
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 20px;
  border-color: black;
  height: 32px;
  width: 100px;
  font-weight: 500;
  text-shadow: none;
  text-decoration: none;
  box-shadow: none;
  align-items: center;
  justify-content: center;
}

#listings-form-submit:hover {
  color: white;
  background-color: #449e92;
}

#listings-success {
  display: flex;
  justify-content: left;
  margin-left: 10px;
  width: 100%;
  height: 100%;
  color: green;
  letter-spacing: 1px;
}