#products-index-div {
  //margin: auto;
  margin: 2% auto;
  width: 90%;
  //height: min(calc(100vh - 90px), 80vh);
  display: flex;
  font-size: 15px;
  letter-spacing: 1px;
  // flex-direction: row;
  // justify-content: center;
  //min-height: 90vh;
}

#products-index-div a {
  text-decoration: none;
  color: black;
}

#products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
}

.products-index-item {
  width: 24%;
  border: 1px solid #b7b7b75f;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 1% 2% 0;
}

// #products-index-div .products-index-item {
//   border: 1px solid #449e92;
// }

.products-index-item:hover {
  border: 1px solid #35897d;
  //border: 1px solid #000;
  cursor: pointer;
}

.products-index-item:hover .products-index-tag {
  background-color: #35897d;
  //background-color: #000;
  color: white;
}

.products-index-item>a>span>img {
  width: 70%;
  box-sizing: border-box;
}

.products-index-item>a {
  width: 100%;
  box-sizing: border-box;
  margin-top: auto;
}

.products-index-img {
  width: 100%;
  padding: 5% 0;
  box-sizing: border-box;
  //border: 1px solid #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}

// #products-index-div a:hover .products-index-img {
//   border: 1px solid #449e92;
// }

.products-index-tag {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  padding: 3%;
  //color: #449e92;
}

.products-index-tag ul li {
  line-height: 120%;
}

.product-price {
  //color: #7b7b7b;
  font-weight: bold;
}
