.product-show {
  width: 90%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
}

.product-show-header {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1px;
  width: 50%;
}

#prod-show-buttons {
  width: 100%;
  display: flex;
}

#prod-show-buttons>button {
  border: 1px solid black;
  font-size: 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  width: 60px;
  height: 32px;
  background-color: white;
  margin-left: auto;
}

#prod-show-buttons>button:hover {
  background-color: #449e92;
  color: white;
  cursor: pointer;
}

#prod-show-misc {
  display: flex;
  width: 25%;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}

#prod-show-misc p {
  color: #449e92;
}

#prod-show-condition {
  display: flex;
  flex-direction: row;
  //color: #888888;
}

#prod-show-condition>p {
  padding-left: 5px;
}

.prod-show-main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 3%;
}

.prod-show-img {
  width: 30%;
  margin-right: auto;
}

.prod-show-img > img {
  width: 100%;
  margin-right: auto;
}

.prod-show-detail {
  display: flex;
  flex-direction: column;
  //text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  width: 50%;
  color: #333;
  justify-content: space-around;
}

.item-info {
  width: 60%;
}

.prod-info-detail {
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  flex-direction: row;
  margin: 1.5% 0;
  padding: 1.5% 0;
}

.prod-info-detail p{
  width: 30%;
}

.prod-info-detail span {
  width: 70%;
}

.bold-this {
  font-weight: bold;
  color: #000;
  padding-right: 5px;
  text-transform: uppercase;
  width: 30%;
}

.center-everything {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}