// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form-div {
  height: 90vh;
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
}

#form-span {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 1px solid #CCCCCC;
  border-radius: 2.5px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

.formtype-edit {
  height: 350px;
}

#form-span:hover {
  cursor: pointer;
}

#form-header {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  height: 50px;
  width: 100%;
  max-width: 400px;
  align-items: center;
  box-sizing: border-box;
}

#form-header:hover {
  cursor: default;
}

#form-header>a {
  font-size: 14px;
  cursor: pointer;
  padding-bottom: 5%;
  //padding-top: 5%;
  border-bottom: 1px solid gray;
  width: 50%;
  justify-content: center;
  display: flex;
}

#form-header>.selected {
  font-size: 14px;
  cursor: pointer;
  padding-bottom: 5%;
  //padding-top: 5%;
  border-bottom: 2px solid #35897d;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 550;
}

#form-header>strong {
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
  position: relative;
  font-weight: 550;
  border-bottom: 1px solid #48b5a8;
  line-height: 40px;
}

#form-header p:hover {
  cursor: default;
}

#form-header *:visited {
  color: gray;
  text-decoration: none;
}

#form-header *:link {
  color: gray;
  text-decoration: none;
}


#session-form {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: space-between;
  justify-content: space-between;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

.form-label {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2.5px;
  padding-right: 2.5px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.form-input {
  border: 1px solid #BBBBBB;
  font-size: 15px;
  width: 100%;
  padding: 4%;
}

.session-form-btn {
  background: #8fcec6;
  color: #1a7165;
  border: 1px solid #35897d;
  width: 100%;
  font-size: 16px;
  text-shadow: none;
  box-shadow: none;
  margin: 3% 0 0 0;
  cursor: pointer;
  padding: 3.5%;
}

.session-form-btn:hover {
  background: #35897d;
  color: white;
}

.session-form-btn:active {
  border-style: inset;
  background: #444444;
  box-shadow: none;
}

#user-form-errors {
  margin-top: 10px;
  border: 1px solid red;
  background-color: pink;
  border-radius: 5px;
  padding: 5px;
}

.error-list {
  font-size: 12px;
  color: red;
  display: flex;
  flex-direction: column;
}