// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    height: 100vh;
    width: 100vw;
    font-family: 'proxima-nova', sans-serif;
}

html {
    height: 100vh;
    width: 100vw;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    //height: 100vh;
}

#app-div {
    display: flex;
    width: 100vw;
    height: 100%;
    flex-direction: column;
}

#main-div {
    position: relative;
    display: flex;
    margin-top: min(20%, 90px);
    min-height: 80vh;
    width: 100vw;
}

a:link {
    text-decoration: none;
}

input {
    outline: none;
}

.hidden {
    display: none;
}

.splash {
    width: 100%;
    //height: 100vh;
    //justify-content: center;
    //align-items: center;
    //display: flex;
    //flex-direction: column;
}

.splash-header{
    margin: 3% auto;
    background-color: #b7b7b75f;
    border-radius: 10px;
    width: 80%;
    padding: 3% 5%;
    //overflow-wrap: break-word;
    display: flex;
    flex-flow: wrap;
    align-items: center;
}

.splash-header .splash-text-div {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.splash-text-div .splash-title {
    width: 115%;
    font-family: Chalkduster, fantasy;
    font-weight: 800;
    font-size: 45px;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 80px;
}

.splash-text-div .splash-btn {
    width: 100%;
    margin-top: 10%;
}

.splash-text-div .splash-btn .shop-now-btn {
    background-color: #449e92;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 2.5%;
    width: 27%;
    font-size: 15px;
    font-weight: 550;
    text-shadow: none;
    text-decoration: none;
    box-shadow: none;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    cursor: pointer;
}

.splash-header .splash-image-div {
    width: 45%;
}

.splash-header .splash-image-div img {
    width: 100%;
}

.popular-brands {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 3% auto;
}

.popular-brands-title {
    font-size: 28px;
    text-align: left;
}

.popular-brands-items {
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}
.popular-brands-item {
    display: flex;
    width: 10%;
    padding: 3%;
    background-color: #b7b7b75f;
    border-radius: 5%;
    margin-right: 0.8%;
}

.popular-brands-items .last-item{
    margin-right: -0.8%;
}

.popular-brands-item img {
    width: 100%;
}

.popular-products {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 3% auto;
}

.popular-products-title {
    font-size: 28px;
    text-align: left;
    padding-left: 5%;
}
